<div class="body-container">
  <div class="container">
    <%= form_for @organization do |f| %>

      <%= f.label :name %><br>
      <%= f.text_field :name%>

      <%= f.label :address %><br>
      <%= f.text_field :address%>

      <%= f.label :overview %><br>
      <%= f.text_field :overview%>

      <%= f.label :employees %><br>
      <%= f.text_field :employees, placeholder: "Number of employees"%>

      <%= f.label :teamsize %><br>
      <%= f.text_field :teamsize, placeholder: "Number of tech teamsize"%>

      <%= f.label :website %><br>
      <%= f.text_field :website%>

      <%= f.label :twitter %><br>
      <%= f.text_field :twitter%>

      <%= fields_for Tag.new do |tag| %>
        <%= f.label 'Create New Technology' %><br>
        <%= tag.text_field :name %>
      <% end %>

      <%= f.label :Technology %><br>
      <%= f.collection_select :tag_ids, Tag.order(:name), :id, :name,
                                      {},
                                      { multiple: true, class:'browser-default chosen-select'}%>


      <br><br>
      <%= f.check_box :published, { class: "filled-in" }, 'true', 'false' %>
      <%= f.label :published%>
      <br>

      <div class="right">
        <%= button_tag( :class => "btn") do %>
        Save Changes<i class="material-icons right">send</i>
        <% end %>
      </div>

    <% end %>
  </div>
</div>
