<script>window.twttr = (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0],
        t = window.twttr || {};
    if (d.getElementById(id)) return t;
    js = d.createElement(s);
    js.id = id;
    js.src = "https://platform.twitter.com/widgets.js";
    fjs.parentNode.insertBefore(js, fjs);

    t._e = [];
    t.ready = function(f) {
        t._e.push(f);
    };

    return t;
}(document, "script", "twitter-wjs"));</script>

<div class="body-content">

  <div class="header-container">
    <%= image_tag (@header) %>
    <div class="header-title">
      <h1 class='ht'><%= @organization.name %></h1>
    </div>
  </div>


  <div class="container">
  <div class="row">
      <div class="col m4">
        <% if @organization.icon.present? %>
        <%= image_tag (@organization.icon_url), style:"max-width: 250px; margin:25px 5px 5px 5px;"%><br><br>
        <% else %>
        <%= image_tag ("#{@organization.name}.png") %>
        <% end %>

      </div>
      <div class="col m8">
        <table class="bordered">
          <tr>
            <td><strong>Title: </strong></td>
            <td><%= @organization.name %></td>
          </tr>
          <tr>
            <td><strong>Address: </strong></td>
            <td><%= @organization.address %></td>
          </tr>
          <tr>
            <td><strong>Overview: </strong></td>
            <td><%= @organization.overview %></td>
          </tr>
          <tr>
            <td><strong>Employees size:</strong></td>
            <td><%= @organization.employees %></td>
          </tr>
          <tr>
            <td><strong>Tech team size: </strong></td>
            <td><%= @organization.teamsize %></td>
          </tr>
          <tr>
            <td><strong>Website: </strong></td>
            <td><%= @organization.website %></td>
          </tr>
          <tr>
            <td><strong>Twitter: </strong></td>
            <td><a class="twitter-timeline"
               href='<%= @organization.twitter %>'
               data-width="450"
               data-height="400"
               data-chrome="nofooter noborders">
            </a></td>
          </tr>
          <tr>
            <td><strong>Icon: </strong></td>
            <td><%= @organization.icon %></td>
          </tr>
          <tr>
            <td><strong>Technology:</strong></td>
            <td>
              <% @organization.tags.each do |t| %>
              <div class="chip">
                <%= t.name %>
              </div>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  <div class="row right">

    <% if user_signed_in? && (@organization.user == current_user || current_user.admin?)%>
      <%= link_to "Edit Organization", edit_organization_path(@organization), class: "btn"%>
    <% end %>
  </div>
  <div class="row">

    <div class="col offset-m4 m8">
      <div style='width: 800px;'>
        <div id="map" style='width: 80%; height: 400px;'></div>
      </div>
    </div>

  </div>


      <script src="//maps.google.com/maps/api/js?key=<%=ENV['GOOGLE_MAPS_API_KEY'] %>"></script>

      <script src="//cdn.rawgit.com/mahnunchik/markerclustererplus/master/dist/markerclusterer.min.js"></script>

      <script>
        handler = Gmaps.build('Google');
          handler.buildMap({ provider: { Zoom: 15 }, internal: {id: 'map'}}, function(){
            var markers = handler.addMarkers([
              {
                  "lat": <%= @organization.lat %>,
                  "lng": <%= @organization.long %>,
                  "infowindow": "<%= "#{@organization.name}"%>"   
              }
            ]);
            handler.bounds.extendWith(markers);
            handler.map.centerOn(markers[0]);
          //handler.fitMapToBounds();
          console.log(handler);
        });
      </script>

  </div>
</div>
