<!-- profile should route to user#show page -->
<!-- settings should route to user#edit page -->

  <nav style="background-image: url(assets/geo_final.jpg); background-size: 100%">

<!-- logo and brand -->
  <div class='nav-wrapper'>
    <a href="/" class="brand-logo">
      <%= image_tag("logo.png", class: "top-brand-logo") %>
    </a>

<!-- signed in ADMIN -->
<% if user_signed_in? && current_user.admin? %>
  <ul class="right">
    <li><a>Hello <%= "#{current_user.name}" %></a></li>

    <li><a>
<!-- need to implement if user has icon, use their icon -->
<!-- else use this default one -->
      <%# if current_user.icon? %>
      <%#= current_user.icon %>
      <%# else %>
      <img  class='dropdown-button small-dp' href='#' data-activates='dropdown1' src="assets/admin.jpg" alt=""></a></li>
  </ul>

<!-- signed in USER -->
  <% elsif user_signed_in? %>
  <ul class="right">
    <ul class="right">
      <li><a>Hello <%= "#{current_user.name}" %></a></li>
      <li><a><img  class='dropdown-button small-dp' href='#' data-activates='dropdown1' src="assets/user_placeholder.jpg" alt=""></a></li>
    </ul>
  </ul>

  <!-- not signed in -->
  <% else %>
  <ul class="right">
    <li style="padding-right:5px;">Welcome friend! </li>
    <li><%= link_to 'Sign Up', new_user_registration_path %> </li>
    <li><%= link_to 'Login', new_user_session_path %> </li>
  </ul>
  <% end %>

  </div>
</nav>

<!-- IF SIGNED IN dropdown profile menu, leave where it is -->
<!-- add icons, fix alignment later -->
<!-- should switch to erb tags after -->
<ul id="dropdown1" class="dropdown-content">
  <% if user_signed_in? && current_user.admin? %>
  <li><%= link_to 'Admin Dashboard', admin_root_path %> </li>
  <li><a href="#!">Settings</a></li>
  <li class="divider"></li>
  <li class="waves-effect waves-light">
    <%= link_to 'Logout', destroy_user_session_path,
        method: :delete, data: {confirm: 'Logout?'} %>
  </li>

  <% else %>
  <li><a href="#!">Profile</a></li>
  <li><a href="#!">Settings</a></li>
  <li class="divider"></li>
  <li class="waves-effect waves-light">
    <%= link_to 'Logout', destroy_user_session_path,
        method: :delete, data: {confirm: 'Logout?'} %>
  </li>
  <% end %>
</ul>
