<!-- top nav is for sessions, profile and logo (left side) -->
<!-- all site navigation will be done on the side nav -->

<nav style="">
  <div class="nav-wrapper #00acc1 cyan darken-1">

<!-- logo and brand -->
  <a class="waves-effect waves-light navbar-brand-icon">
    <i class="large material-icons">language</i>
  </a>

  <a href="/" class="brand-logo left waves-effect waves-light">
    VanTech Web
  </a>

<!-- need to implement devise here. see user md file in /layouts/ -->

<!-- signed in ADMIN -->
<% if user_signed_in? && current_user.admin? %>
  <ul class="right">
    <span style='color:red'>You are adminnnnn</span>
    <%= "#{current_user.name}" %>
    <li class="waves-effect waves-light">
      <%= link_to 'Logout', destroy_user_session_path,
          method: :delete, data: {confirm: 'Logout?'} %>
    </li>
  </ul>

<!-- signed in USER -->
  <% elsif user_signed_in? %>
  <ul class="right">
    <li><a class='dropdown-button' href='#' data-activates='dropdown1'><%= "#{current_user.name}" %></a></li>
    <li class="waves-effect waves-light">

    </li>
  </ul>

  <!-- not signed in -->
  <% else %>
  <ul class="right">
    <li style="padding-right:5px;">Welcome friend! </li>
    <li><%= link_to 'Sign Up', new_user_registration_path %> </li>
    <li><%= link_to 'Login', new_user_session_path %> </li>
  </ul>
  <% end %>

  </div>
</nav>

<!-- IF SIGNED IN dropdown profile menu, leave where it is -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">Profile</a></li>
  <li><a href="#!">Dashboard</a></li>
  <li><a href="#!">Settings</a></li>
  <li class="divider"></li>

  <li><a href="#!"><%= link_to 'Logout', destroy_user_session_path,
    method: :delete, data: {confirm: 'Logout?'} %></a></li>
</ul>
