<header>
<!-- need to add a tag because sidebar disappears after smalls creen  -->

  <nav style="background-image: url(/assets/geo_final.jpg); background-size: 100%" class='top-nav'>

    <a href="/" class="brand-logo">
     <%= image_tag("logo.png", class: "top-brand-logo") %>
   </a>


<!-- signed in admin -->
    <div class="nav-wrapper"><% if user_signed_in? && current_user.admin? %>
      <ul class="right">
        <li>Hello <%= "#{current_user.name}" %>!</li>

        <li><a>
          <img class='dropdown-button small-dp circle' href='#' data-activates='dropdown1' src="assets/admin.jpg" alt="">
        </a></li>
      </ul>

<!-- signed in USER -->
      <% elsif user_signed_in? %>
      <ul class="right">
        <ul class="right">
          <li><a>Hello <%= "#{current_user.name}" %></a></li>
          <li><a><%= image_tag (current_user.icon_url), class: 'dropdown-button small-dp', data: {activates: 'dropdown1'}%></a></li>
        </ul>
      </ul>

<!-- not signed in -->
      <% else %>
      <ul class="right">
        <li style="padding-right:5px;">Welcome friend! </li>
        <li><%= link_to 'Sign Up', new_user_registration_path %> </li>
        <li><%= link_to 'Login', new_user_session_path %> </li>
      </ul>
      <% end %>

      </div>
    </nav>


  <ul id="dropdown1" class="dropdown-content">
    <% if user_signed_in? && current_user.admin? %>
    <li><%= link_to 'Admin Dashboard', admin_root_path %> </li>
    <li class="divider"></li>
    <li class="waves-effect waves-light">
    <%= link_to 'Logout', destroy_user_session_path,
          method: :delete, data: {confirm: 'Logout?'} %>
    </li>

    <% else %>
    <li class="waves-effect waves-light">
    <%= link_to 'Logout', destroy_user_session_path,
          method: :delete, data: {confirm: 'Logout?'} %>
    </li>
    <% end %>
  </ul>


<!-- sidenav  -->
    <ul class="side-nav fixed show-on-small">
    <!-- <ul id="side-nav-list" class="side-nav fixed"> -->
      <li><%= link_to '<i class="material-icons">home</i>'.html_safe, root_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Home'} %></li>

    <!-- probably get rid of explore -->
      <!-- <li><%#= link_to '<i class="material-icons">explore</i>'.html_safe, organizations_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Explore (disabled)'} %></li> -->

      <li><%= link_to '<i class="material-icons">event</i>'.html_safe, events_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Events'} %></li>

      <li><%= link_to '<i class="material-icons">business</i>'.html_safe, organizations_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Organizations directory'} %></li>

      <li><%= link_to '<i class="material-icons">library_books</i>'.html_safe, articles_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Articles'} %></li>

      <li><%= link_to '<i class="material-icons">tag_faces</i>'.html_safe, about_index_path, class: 'tooltipped', data: { position: 'right', tooltip: 'About us'} %></li>
    </ul>

  </nav>
</header>
