<div class="wrapper">
  <nav id="side-nav">
<!-- need to align side nav fixed left, 100vh -->
<!-- rest of body should be able to scroll freely -->
<!-- bug: fix bottom height -->

    <ul id="" class="">

      <li><%= link_to '<i class="material-icons">home</i>'.html_safe, root_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Home'} %></li>

<!-- probably get rid of dashboard -->
      <li><%= link_to '<i class="material-icons">explore</i>'.html_safe, '#', class: 'tooltipped', data: { position: 'right', tooltip: 'Explore (disabled)'} %></li>

      <li><%= link_to '<i class="material-icons">event</i>'.html_safe, events_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Events'} %></li>

      <li><%= link_to '<i class="material-icons">library_books</i>'.html_safe, articles_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Articles'} %></li>

      <li><%= link_to '<i class="material-icons">tag_faces</i>'.html_safe, about_index_path, class: 'tooltipped', data: { position: 'right', tooltip: 'About us'} %></li>

    </ul>
  </nav>
</div>


<!--
implement sticky sidebar,
http://leafo.net/sticky-kit/
 -->
