<div class="wrapper">
  <nav id="side-nav">
<!-- need to align side nav fixed left, 100vh -->
<!-- rest of body should be able to scroll freely -->
<!-- bug: fix bottom height -->

    <ul id="" class="">

      <br>

      <li><%= link_to '<i class="material-icons lrg">home</i>'.html_safe, root_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Home'} %></li>

      <li><%= link_to '<i class="material-icons lrg">dashboard</i>'.html_safe, root_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Dashboard'} %></li>

      <li><%= link_to '<i class="material-icons lrg">explore</i>'.html_safe, organizations_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Explore'} %></li>

      <li><%= link_to '<i class="material-icons lrg">event</i>'.html_safe, events_path, class: 'tooltipped', data: { position: 'right', tooltip: 'Events'} %></li>

      <li><%= link_to '<i class="material-icons lrg"><i class="material-icons">chrome_reader_mode</i></i>'.html_safe, articles_path, class: 'tooltipped', data: { position: 'right', tooltip: 'News'} %></li>


    </ul>
  </nav>
</div>


<!--
implement sticky sidebar,
http://leafo.net/sticky-kit/
 -->
