<!DOCTYPE html>
<html>
  <head>
    <title>VanTech Web</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>

<<<<<<< HEAD
<!-- add dialogues instead -->
<div class="right">

<% flash.each do |message_type, message| %>
    <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
<% end %>
</div>


=======
  <div class="center">
    <% flash.each do |message_type, message| %>
      <%= javascript_tag "Materialize.toast('#{message}', 4000)" %>
    <% end %>
  </div>
>>>>>>> 011b4be37d3641ff9f541b29728538be01f99a07

  <main>
    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>

  </body>
</html>
