<!DOCTYPE html>
<html>
  <head>
    <title>TechNest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'layouts/navbar' %>
    <%= render 'layouts/sidenav' %>

<!-- add dialogues instead -->
    <div class=“container”>
      <% if flash[:notice] %>
        <div class=“alert alert-info”><%= flash[:notice] %></div>
      <% elsif flash[:alert] %>
        <div class=“alert alert-danger”><%= flash[:alert] %></div>
      <% end %>
    </div>


    <%= yield %>

    <%= render 'layouts/footer' %>

  </body>
</html>
